*{
    padding:0;
    margin :0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
}
ul {
    list-style: none;
}
ul li{
    padding: 5px;
    background: rgb(29, 21, 21);
    margin: 5px;
}
header{
    background: #d4d382;
    padding: 16px;
    text-align: center;
}
.container{
    margin: auto;
    width: 500px;
    overflow: auto;
    padding: 48px 32px;
}
#my-form{
    padding: 32px;
    background: #c4ee76;
}
#my-form label{
    display: block;
}
#my-form input[type='text']{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
.btn{
    display: block;
    padding: 10px 15px;
    width: 100%;
    border: 0;
    color: aquamarine;
    background: #333;
    border-radius: 10px;
    margin: 10px;
}
.btn:hover{
    cursor: pointer;
    background:blue;
}
.bg-dark{
    background-color: #333;
    color: #fff;
}
.error{
    background: red;
    color: #fff;
    padding:5px;
    margin: 5px;
}